# Python
__pycache__/
*.py[cod]
*.egg-info/
.Python
env/
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Streamlit
.streamlit/secrets.toml

# Logs
*.log
